<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lym.mapper.contract.CustomerMapper">
  <resultMap id="BaseResultMap" type="com.lym.model.contract.vo.CustomerVO">
    <!--@mbg.generated-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="card_id" jdbcType="VARCHAR" property="cardId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="work" jdbcType="VARCHAR" property="work" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="join_time" jdbcType="DATE" property="joinTime" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="update_time" jdbcType="DATE" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, card_id, `name`, sex, address, phone, `work`, remark, join_time, user_id, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from t_customer
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from t_customer
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.lym.model.contract.dto.CustomerDTO" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_customer (card_id, `name`, sex, 
      address, phone, `work`, 
      remark, join_time, user_id, 
      update_time)
    values (#{cardId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{sex,jdbcType=INTEGER}, 
      #{address,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{work,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{joinTime,jdbcType=DATE}, #{userId,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.lym.model.contract.dto.CustomerDTO" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_customer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cardId != null">
        card_id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="work != null">
        `work`,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="joinTime != null">
        join_time,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cardId != null">
        #{cardId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="work != null">
        #{work,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="joinTime != null">
        #{joinTime,jdbcType=DATE},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lym.model.contract.dto.CustomerDTO">
    <!--@mbg.generated-->
    update t_customer
    <set>
      <if test="cardId != null">
        card_id = #{cardId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="work != null">
        `work` = #{work,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="joinTime != null">
        join_time = #{joinTime,jdbcType=DATE},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lym.model.contract.dto.CustomerDTO">
    <!--@mbg.generated-->
    update t_customer
    set card_id = #{cardId,jdbcType=VARCHAR},
      `name` = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      `work` = #{work,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      join_time = #{joinTime,jdbcType=DATE},
      user_id = #{userId,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="findAllCustomer" resultMap="BaseResultMap" parameterType="com.lym.model.contract.dto.CustomerDTO">
      select
      <include refid="Base_Column_List" />
      from t_customer
      <where>
        <if test="name != null">
          `name` = #{name,jdbcType=VARCHAR},
        </if>
        <if test="sex != null">
         AND sex = #{sex,jdbcType=INTEGER},
        </if>
        <if test="address != null">
          AND address = #{address,jdbcType=VARCHAR},
        </if>
        <if test="phone != null">
          AND phone = #{phone,jdbcType=VARCHAR}
        </if>
      </where>
    </select>
</mapper>