<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lym.mapper.user.UserMapper">

    <resultMap id="userVO" type="com.lym.model.user.vo.UserVO">
        <result column="id" property="id" javaType="java.lang.Byte" />
        <result column="role_id" property="roleId" javaType="java.lang.Byte" />
        <result column="user_name" property="userName" javaType="java.lang.String" />
        <result column="password" property="password" javaType="java.lang.String" />
        <result column="picture" property="picture" javaType="java.lang.String" />
        <result column="real_name" property="realName" javaType="java.lang.String" />
        <result column="phone" property="phone" javaType="java.lang.String" />
        <result column="email" property="email" javaType="java.lang.String" />
        <result column="join_time" property="joinTime" javaType="java.util.Date" />
        <result column="update_time" property="updateTime" javaType="java.util.Date" />
        <result column="sex" property="sex" javaType="java.lang.String" />
    </resultMap>
    <sql id="List_VO_Column_Result">
        tu.id,
        tu.role_id,
        tu.user_name,
        tu.password,
        tu.picture,
        tu.real_name,
        tu.phone,
        tu.email,
        tu.join_time,
        tu.sex,
        tu.update_time
    </sql>
    <select id="getUserByName" parameterType="string" resultMap="userVO">
    select <include refid="List_VO_Column_Result"/>
    from t_user tu
    where tu.user_name = #{userName}
    </select>
    <select id="findAllUser" resultMap="userVO" parameterType="com.lym.model.user.dto.UserDTO">
      SELECT <include refid="List_VO_Column_Result"/> FROM t_user tu
    </select>

</mapper>